@import "./assets/colors/Colors.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: $color-one;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: $color-two;
}

section {
  padding: 35px 0px;
}

input {
  background: transparent;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  outline: none;
  border: none;
}

h2,
h3,
h4 {
  margin-bottom: 7px;
}

textarea {
  resize: none;
  background: transparent;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  outline: none;
  border: none;
}

button {
  background: transparent;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  border: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
