@import "../../assets/colors/Colors.scss";

.testGame {
  margin-top: 50px;
  min-height: 450px;
  padding: 15px 15px 30px 15px;
  background-color: $color-three;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 8px;
}
.imgs {
  display: flex;
  // gap: 15px;
  justify-content: space-evenly;
}
.img {
  padding: 5x;
  width: 350px;
  height: 250px;
  border-radius: 3px;
}

// .left {
//   display: flex;
//   flex-direction: column;
//   align-items: left;
//   width: 550px;
// }

.question {
  font-size: 25px;
}

.answers {
  display: flex;
  gap: 8px;
}
.text {
  margin-bottom: 30px;
  margin-top: 10px;
}
.answer {
  cursor: pointer;
  width: 100%;
  border-radius: 3px;
  padding: 10px 20px;
  min-height: 50px;
  background-color: $color-one;
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    outline: 2px $color-four solid;
  }
}
